@font-face {
	font-family: 'ProstOne';
	src: url(../assets/ProstoOne-Regular.ttf);
}

*{
    margin:0;
    padding:0;
}
body{
    height:1080px;
    width:1920px;
    overflow: hidden;
    background-color: rgb(145, 145, 145);    
    font-family: ProstOne;
}
